/* Web personal de Luis Francisco Albert Navarro, Ingeniero Informático con la especialidad de Tecnologías de la Información, donde plasmar parte de sus conocimientos en HTML, CSS, JavaScript, control de versiones, etc... 
Página donde se definen los estilos de las diferentes clases y atributos*/

html {
 	min-height: 100%; 
	position: relative;
	background-color: #f4f8f8;
}

html a {
	text-decoration: none;
}

body {
	margin: 0;
}

#logo_lfan {
	float: left;
	margin-left:20px;
}
	
.menu-header-container {
	background-color: #81aacd;
	text-align: center;
	align-items: center;
	justify-content: center;
	height: 30px;
}

.menu-header {
	margin-left: 20px;
	margin-right: 20px;
	font-size: 150%;
}

.container-body {
	text-align: center;
	font-family: serif;
	font-size: 125%;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 50px;
	margin-bottom: 50px;
}

#container-home {
	color: #81aacd;
}

#container-body-content a{
	color: #81aacd;
}

#container-body-content a:hover{
	font-size:120%;
	color: black;
}
.body-header {
	text-align: center;
	font-family: serif;
}

.text-container.theme1 {
	text-align: left;
	margin-bottom: 150px;
}

.art- {
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 100px;
}

footer {
	background-color: #81aacd;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	height: 110px;
	color: #f4f8f8;
	list-style: none;
}

a {
	color: #f4f8f8;
}

header a:hover{
	font-size:160%;
	color: black;
}

.footer-menu ul {
   list-style:none;
}

.footer-logo {
	float: left;
	margin-top: 20px;
	margin-left: 20px;
	width: 140px;
}

footer container-body-content a:hover{
	font-size:120%;
	color: black;
}

.footer-validate {
	float: right;
}

#cookiebox {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 999999;
    display: block;
	text-align:center;
    background-color: #eeeeee;
}

#cookiebox a {
    margin-right:5px;
    text-decoration: underline;
	color: #81aacd;
}

.noticia{
	border-radius: 25px;
	width: 400px; 
	height: 320px;
	background-color: #81aacd;
	color: #f4f8f8;
	float: left;
	margin-left: 75px;
	margin-right: 75px;
	margin-bottom: 150px;
}

.noticia img {
	width: 400px; 
	height: 200px;
}

.noticia:hover {
	transform: scale(1.025);
}

.cartel{
	border-radius: 25px;
	width: 400px; 
	height: 320px;
	background-color: #81aacd;
	color: #f4f8f8;
	float: left;
	margin-left: 75px;
	margin-right: 75px;
	margin-bottom: 150px;
}

.cartel:hover {
	transform: scale(1.025);
}

.cartel_p{
	border-radius: 25px;
	width: 192px; 
	height: 320px;
	background-color: #81aacd;
	color: #f4f8f8;
	float: left;
	margin-left: 75px;
	margin-right: 75px;
	margin-bottom: 150px;
}

.cartel_p:hover {
	transform: scale(1.025);
}

#video_background { 
	position: absolute; 
	bottom: 0px; 
	right: 0px; 
	min-width: 100%; 
	min-height: 100%; 
	width: auto; 
	height: auto; 
	z-index: -1000; 
	overflow: hidden; 
}

.foto {
	float: right;
	margin-left: 10px;
}

.form_contacto {
	background-color: #81aacd;
	width: 100%;
	text-align: left;
	color: #f4f8f8;
	margin-bottom: 150px;
	margin-top: 100px;
    padding:50px;
	border-radius: 25px;
}

#container-body-content .form_contacto a{
	color: #f4f8f8;
}

.campo_form {
	padding:5px;
}

.boton {
	background-color: #f4f8f8;
	color: #81aacd;
	border-radius: 25px;
	padding: 10px 20px;
	cursor: pointer;
}
