/* Web personal de Luis Francisco Albert Navarro, Ingeniero Informático con la especialidad de Tecnologías de la Información, donde plasmar parte de sus conocimientos en HTML, CSS, JavaScript, control de versiones, etc... 
Página donde se definen los estilos de las diferentes clases y atributos*/

html {
 	min-height: 100%; 
	position: relative;
	background-color: #f4f8f8;
}

html a {
	text-decoration: none;
}

body {
	margin: 0;
	position:absolute;
}

.container.header-menu {
	width: 100%;
	height: 150px;
}

#logo_lfan {
	float: left;
	margin-left:20px;
}
	
.menu-header-container {
	/*display: flex;*/
	background-color: #81aacd;
	text-align: center;
	align-items: center;
	justify-content: center;
	/*height: 50px;
	width: 100%;*/
	margin-left: 20px;
	margin-right: 20px;
}

.menu-header {
	margin-left: 20px;
	margin-right: 20px;
	font-size: 150%;
}

.container.body {
	text-align: center;
	font-family: serif;
	font-size: 125%;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 175px;
	margin-bottom: 175px;
}

.body-header {
	text-align: center;
	font-family: serif;
}

.text-container.theme1 {
	text-align: left;
}

footer {
	background-color: #81aacd;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	height: 110px;
	color: #f4f8f8;
}

a {
	color: #f4f8f8;
}

.footer-logo {
	float: left;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 120px;
	width: 120px;
}