/* Página donde se definen los estilos de l@s diferentes clases y atributos*/

body {
	
}

footer {
	background-color: #b8e7ff;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.container.header-body {
	background-color: #f2fffd;
	text-align: center;
	font-family: serif;
	font-size: 150%;
}

.text-container.theme1 li {
		margin: 0;
		padding: 0;
	}							
							
.text-container.theme1 a {
		background: ;
		display: inline-block;
		text-decoration: none;
	}
	
.footer-menu {
	text-align: center;
}